  <table>
<tr>
   <th>Nombre</th>
   <th>Descripcion</th>
   <th>Fecha de Inicio</th>
   <th>Fecha de Termino</th>
   <th>Estado</th>
</tr>

<% @projects.each do |project| %>
   <tr>
      <td><%= project.name %></td>
      <td>><%= project.description %></td>
      <td>><%= project.begin %></td>
      <td>><%= project.end %></td>
      <td>><%= project.state %></td>
   </tr>
<% end %>
</table>